spring:
  application:
    name: mealtracker
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate.create_empty_composites.enabled: true

server:
  port: 9000

app:
  jwt:
    secretKey: JWTSuperSecretKey
    expirationInMs: 604800000
